#loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#loading-circle {
    transform: rotate(-90deg);
    /* Rotate the circle to start from the top */
}

#loading-text {
    margin-top: 10px;
    font-size: 18px;
}

@keyframes spin {
    0% {
        stroke-dashoffset: 282.743;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.determinate circle {
    transition: stroke-dashoffset 0.5s ease;
}

.indeterminate circle {
    animation: spin 1.5s linear infinite;
}