services:
  rabbitmq:
    image: rabbitmq:4.0-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - CORS_ORIGINS=http://localhost:3000
      - NODE_ENV=development
      - FIREBASE_DATABASE_URL=${FIREBASE_DATABASE_URL}
      - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
      - FIREBASE_ADMIN_CREDENTIALS_PATH=/app/firebase/credentials/firebase_creds.json
      - RUNNING_IN_DOCKER=true
    volumes:
      - ./videos:/shared/videos:ro
      - ./firebase:/app/firebase:ro
    extra_hosts:
      - "host.docker.internal:host-gateway" # remove after testing
    depends_on:
      rabbitmq:
        condition: service_healthy

  renderer:
    build: 
      context: ./renderer
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - OUTPUT_PATH=/shared/videos
      - TEMP_DIR=/app/temp 
    volumes:
      - ./videos:/shared/videos:rw
      - type: tmpfs 
        target: /app/temp
    depends_on:
      rabbitmq:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true

volumes:
  rendered_videos:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/videos
