.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #007BFF, #000000);
}
.input {
    color: black;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform 0.2s, box-shadow 0.2s;

}

.form:hover {
    transform: translateY(-10px);
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}


.input::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flexColumn>label {
    color: #151717;
    font-weight: 600;

}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: border-color 0.2s ease-in-out;
}
.input {
    margin-left: 10px;
    
    border: none;
    width: 100%; 

    height: 100%;
    background-color: transparent;

}
.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flexRow>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}



.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.box {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonSubmit {
    margin: 10px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.buttonSubmit:hover {
    filter: brightness(2);
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 3px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}
.btn:hover {
    border: 1px solid #2d79f3;
}

.line {
    margin: 3px 0;
}

.google {
    color: #000000;
}


.pWarning {
    font-size: 14px;
    color: rgb(220, 59, 59);
}

.dropdownList {
    height: auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: white;
}
.dropdownList li {
    border-left: 1.5px solid #ecedec;
    border-right: 1.5px solid #ecedec;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    border-bottom: 1.5px solid #ecedec;
}
.dropdownList li:hover{
    background-color: #ecedec;
}
.dropdownList li:last-child {
    border-radius: 0 0 10px 10px;
}